h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  /* Color rojo */
  color: rgb(173, 47, 28); 
}

body {
  background: #f0f0f0; /* Fondo gris claro */
}

#todo-list {
  width: 500px;
  margin: 60px auto;
  /* Fondo blanco */
  background: #ffffff; 
  /* Bordes redondeados */
  border-radius: 10px; 
  padding: 20px;
  /* Sombra suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

form, .todo {
  /* Borde rojo */
  border: 1px solid rgb(173, 47, 28); 
  padding: 20px;
  margin-bottom: 20px;
  /* Fondo gris claro */
  background: #f9f9f9; 
  /* Bordes redondeados */
  border-radius: 8px; 
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form input {
  padding: 10px;
  flex-grow: 1;
  margin-right: 16px;
  /* Bordes redondeados */
  border-radius: 5px; 
  /* Borde gris claro */
  border: 1px solid #ccc; 
}

.todo {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 16px;
  /* Color verde azulado */
  background-color: rgb(62, 138, 151); 
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  /* Transición suave */
  transition: background-color 0.3s ease; 
}

button:hover {
  /* Color verde azulado más oscuro al pasar el ratón */
  background-color: rgb(25, 109, 123); 
}

button:active {
  /* Color verde azulado más oscuro al hacer clic */
  background-color: rgb(12, 54, 61); 
}

button:focus {
  outline: none;
}

input[type='text'] {
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 10px;
  /* Bordes redondeados */
  border-radius: 5px; 
  /* Borde gris claro */
  border: 1px solid #ccc; 
}

.todo input[type="checkbox"] {
  transform: scale(1.8) translateY(1px);
  margin: 0 16px 0 0;
  cursor: pointer;
}

.todo-text input {
  padding: 4px;
}

.todo-text {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
}

.todo-completed {
  display: flex;
  margin: 10px 0;
}

.todo-actions {
  display: flex;
  justify-content: space-between;
}

#completed {
  margin-left: 15px;
}
